{% extends "base.html" %}
{% block title %}
Home Page
{% endblock title %}
{% block body %}
<div class="container my-4">
    <div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://fastly.picsum.photos/id/11/2500/1667.jpg?hmac=xxjFJtAPgshYkysU_aqx2sZir-kIOjNR9vx0te7GycQ"class="d-block w-100" alt="spiderman" width="800" height="400">
    </div>
    <div class="carousel-item">
      <img src="https://fastly.picsum.photos/id/12/2500/1667.jpg?hmac=Pe3284luVre9ZqNzv1jMFpLihFI6lwq7TPgMSsNXw2w" class="d-block w-100" alt="spiderman" width="800" height="400">
    </div>
    <div class="carousel-item">
      <img src="https://picsum.photos/id/1/200/300"class="d-block w-100" alt="spiderman" width="800" height="400">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" ></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div> 
{% endblock body %}