<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="/static/another.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='another.css') }}">
    <title>Document</title>
</head>
<body>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero at possimus corrupti similique cum ipsum natus ad laborum, hic, iste itaque et ipsa, distinctio facilis quae. Nisi aperiam sapiente quae?
</body>
</html>