# =====================================================
# DJANGO TEMPLATES
# =====================================================

# Templates are HTML files used to display data to users.

# Instead of writing HTML inside views,
# Django recommends keeping HTML in separate template files.

# Advantages:
# 1. Clean code
# 2. Easy to maintain
# 3. Separates frontend and backend
# 4. Supports dynamic data

<!-- ==============================================
File : templates/home.html
============================================== -->

<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>

    <h1>Welcome to Django</h1>

    <h2>This is Home Page</h2>

</body>
</html>